@media  (min-width: 720px) {

	.container {
		width: 710px;
		padding: 0 5px;
	}

	.header {
		height: 430px;
		background-size: auto 430px;

		h1 {
			width: 380px;
			font-size: 21px;
			line-height: 25px;
			text-align: center;
			margin-bottom: 120px;
			padding: 15px 7px 10px 7px;

			span {
				font-size: 13px;
			}
		}

		.header-text {
			display: block;
		}
	}

	.block01 {
		height: 430px;
		display: block;
	}

	.block02 {

		h2 {
			margin-bottom: 15px;
		}

		.inner {
			margin-bottom: 10px;
		}

		.bottom {
			height: 47px;
			background: #fff url("../img/bottom_bg.png") left bottom repeat-x;

			.bottom-block {
				left: 50%;
				top: -47px;
				width: 305px;
				height: 58px;
				padding-top: 20px;
				position: absolute;
				text-align: center;
				margin-left: -152px;
				background: url("../img/bottom_block-small.png") 0 0 no-repeat;
			}
		}

		.text-top-inner {
			margin: 0;
			padding: 0;
			background: transparent;
		}

		.top-text {
			z-index: 100;
			width: 640px;
			height: 230px;
			font-size: 12px;
			overflow: hidden;
			background: #fff;
			margin: -57px auto 60px auto;
			padding: 20px 20px 20px 20px;
			-webkit-box-shadow: 5px 2px 12px 0px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:    5px 2px 12px 0px rgba(50, 50, 50, 0.5);
			box-shadow:         5px 2px 12px 0px rgba(50, 50, 50, 0.5);
			behavior: url(css/pie/PIE.htc);
		}

		.box {

			li {
				float: left;
				width: 190px;
				height: 59px;
				font-size: 12px;
				margin: 0 21px 40px 21px;
				background: url("../img/02_item-m.png") 0 0 no-repeat;

			}

			li.item7 {
				margin-left: 140px;
				margin-right: 40px;
			}

		}

	}

	.block03 {

		.top {
			height: 230px;
			display: block;
			background: #fff url("../img/01_bg.png") top left repeat-x;
		}

		.text-top-inner {
			border-top-color: transparent;
		}

		h2 {
			margin-bottom: 15px;
		}

		.inner {
			margin-bottom: 60px;
		}

		.bottom {
			height: 47px;
			background: #fff url("../img/bottom_bg.png") left bottom repeat-x;

			.bottom-block {
				left: 50%;
				top: -70px;
				width: 395px;
				height: 74px;
				padding-top: 20px;
				position: absolute;
				text-align: center;
				margin-left: -197px;
				background: url("../img/03_bottom-block-small.png") 0 0 no-repeat;
			}
		}

		.text-top-inner {
			margin: 0;
			padding: 0;
			background: transparent;
		}

		.top-text {
			z-index: 100;
			width: 640px;
			font-size: 12px;
			overflow: hidden;
			background: #fff;
			margin: -57px auto 60px auto;
			padding: 20px;
			-webkit-box-shadow: 5px 2px 12px 0px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:    5px 2px 12px 0px rgba(50, 50, 50, 0.5);
			box-shadow:         5px 2px 12px 0px rgba(50, 50, 50, 0.5);
			behavior: url(css/pie/PIE.htc);
		}

		.img-one {
			width: 425px;
			margin-bottom: 35px;

		}

		.img-two {
			width: 302px;
			margin-bottom: 35px;
		}

	}


	.float-left {
		float: left !important;
	}

	.float-right {
		float: right !important;
	}


}

